{% extends 'base.html.twig' %}

{% block body %}
<h4>Commentaires</h4>
{% for comment in comments %}
      {% if comment.getParentId() == null and comment.getIsVisible() %}
        <b>{{ comment.prenom }}&nbsp;{{ comment.nom}}</b>
        &nbsp;&nbsp;{{ comment.content }}
        &nbsp;&nbsp;
        <a href="{{id}}/comment/{{comment.id}}/supprimer" style="color:red">
          x
        </a>
        <br />
        ({{comment.likes}} likes)
        <br /><br />

      {% for subcomment in comments %}
          {% if subcomment.getParentId() == comment.id and subcomment.getIsVisible() %}
            <b>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ subcomment.prenom }}&nbsp;{{ subcomment.nom}}
            </b>
            &nbsp;&nbsp;
            {{ subcomment.content }}
            &nbsp;&nbsp;
            <a href="{{id}}/comment/{{subcomment.id}}/supprimer" style="color:red">
              x
            </a>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ({{subcomment.likes}} likes)
            &nbsp;&nbsp;
            <br /><br />
          {% endif %}
      {% endfor %}
    {% endif %}
{% endfor %}
{% endblock %}
