{% extends 'base.html.twig' %}

{% block body %}
<h1>Article #{{ id }}</h1>
<p>
Vue d'article...
</p>
<h4>Comments</h4>
{% for comment in comments %}
      {% if comment.getParentId() == null and comment.getIsVisible() %}
        <b>{{ comment.prenom }}&nbsp;{{ comment.nom}}</b>
        &nbsp;&nbsp;
        {{ comment.content }}
        &nbsp;&nbsp;
        <a href="{{id}}/comment/{{comment.id}}/supprimer" style="color:red">x</a>
        <br />
        <a href="{{id}}/comment/{{comment.id}}/like" style="color:blue">Like</a>
        ({{comment.likes}})
        &nbsp;&nbsp;
        <a href="{{id}}/comment/{{comment.id}}/repondre" style="color:blue; text-decoration:None">Repondre</a>
        <br /><br />

      {% for subcomment in comments %}
          {% if subcomment.getParentId() == comment.id and subcomment.getIsVisible() %}
            <b>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{ subcomment.prenom }}&nbsp;{{ subcomment.nom}}
            </b>
            &nbsp;&nbsp;
            {{ subcomment.content }}
            &nbsp;&nbsp;
            <a href="{{id}}/comment/{{subcomment.id}}/supprimer" style="color:red">
              x
            </a>
            <br />
            <a href="{{id}}/comment/{{subcomment.id}}/like" style="color:blue; text-decoration:None">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Like
            </a>({{subcomment.likes}})
            &nbsp;&nbsp;
            <br /><br />
          {% endif %}
      {% endfor %}
      {% if comment.id == comment_id %}
        {{ form(repondreForm) }}
      {% endif %}
    {% endif %}
{% endfor %}

{% endblock %}
