{% block stylesheets %}
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <h2>Laisser un commentaire</h2>
    {{ form(submitForm) }}
    <h2>Commentaires</h2>
    {% for comment in comments %}
        {% if comment.getParentId() == null and comment.getIsVisible() %}
            <div class="alert alert-light" style="background-color: white">
                <b>{{ comment.prenom }}&nbsp;{{ comment.nom }}</b>
                {#<strong>Avis :</strong> {{ comment.rating}}#}
                {#{% set rating = comment.rating %}#}
                {% include 'comment/rating.html.twig' with {'rating':comment.rating} %}
                <br>
                &nbsp;&nbsp;{{ comment.content }}
                &nbsp;&nbsp;

                <br/>
                <a href="{{ id }}/comment/{{ comment.id }}/like" style="color:blue; text-decoration:None">Like</a>
                ({{ comment.likes }})
                &nbsp;&nbsp;
                <a href="{{ id }}/comment/{{ comment.id }}/repondre" style="color:blue">Repondre</a>
                &nbsp;&nbsp;<a href="{{ id }}/comment/{{ comment.id }}/supprimer"
                               style="color:red; text-decoration:None">
                    Supprimer
                </a>
            </div>
            <br/><br/>

            {% for subcomment in comments %}
                {% if subcomment.getParentId() == comment.id and subcomment.getIsVisible() %}
                    <b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ subcomment.prenom }}
                        &nbsp;{{ subcomment.nom }}
                    </b>
                    &nbsp;&nbsp;
                    {{ subcomment.content }}
                    {% if app.user %}&nbsp;
                    <a href="{{ id }}/comment/{{ subcomment.id }}/supprimer">
                        <i class="fa fa-remove" style="font-size:12px; color: red"></i>
                    </a>
                    {% endif %}
                    <br/>
                    <a href="{{ id }}/comment/{{ subcomment.id }}/like" style="color:blue; text-decoration:None">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Like
                    </a>({{ subcomment.likes }})
                    &nbsp;&nbsp;
                    <br/><br/>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
