{% extends 'base.html.twig' %}

{% block body %}
<h1>Article #{{ id }}</h1>
<p>
Vue d'article...
</p>
<h4>Leave a comment</h4>
{{ form(submitForm) }}
<h4>Comments</h4>
{% for comment in comments %}
      <b>{{ comment.prenom }}&nbsp;{{ comment.nom}}</b>
      {{ comment.content }} ({{ comment.likes }} likes)
      <br />
      <a href="{{id}}/comment/{{comment.id}}/like" style="color:blue">Like</a>
      <a href="{{id}}/comment/{{comment.id}}/like" style="color:blue">Repondre</a>
      {% if comment.id == comment_id %}
        {{ form(repondreForm) }}
      {% endif %}
      <br /><br />
{% endfor %}
{% endblock %}
