{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        <title>Ajouter un article</title>
    </head>
{% endblock %}
{% endblock %}

{% block body %}
    <body>
    <div class="media-object"  style=" padding-bottom: 10%"  >
        <div class = background> </div>
        <div class="form">
            <h1 class="text-primary" style="padding-top: 6% ; margin-left: 7%"> Ajouter un nouveau article</h1>
            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class': 'col-lg-5'
                }
            }) }}
            <br>
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.author) }}

            <button type="submit" class="btn btn-primary" style="margin-left: 40%" >Créer</button>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_end(form) }}

        </div>
        </div>
    </body>
{% endblock %}