{% extends 'base.html.twig' %}
{% block stylesheets %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        <title>Ajouter un article</title>
    </head>
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h1 class="text-primary" >Ajouter un nouveau article</h1>
        <div class="row">
            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class': 'col-lg-5'
                }
            }) }}
            <br>
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.author) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_end(form) }}

        </div>
    </div>
    </body>
{% endblock %}
