{% include 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="well">
            <div class="media" style="padding-top: 3%">
                <div class="media-body">
                    <h1 class="text-primary" style="padding-top: 6% "> Modifier l'article</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.contenu) }}
                    {{ form_row(form.auteur) }}
                    {{ form_row(form.image) }}

                    <button type="submit" class="btn btn-primary" style="margin-left: 40%">Mettre à jour l'article
                    </button>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_end(form) }}
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 jours, 8 heures </span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i>
                        {{ comments|length }} comments</span>
                        <li>|</li>
                        <li>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </li>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-facebook-square"></i></span>
                            <span><i class="fa fa-twitter-square"></i></span>
                            <span><i class="fa fa-google-plus-square"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
            <br><br><br>
            {% include 'admin/commentsAdminView.html.twig' %}
        </div>
    </div>
{% endblock %}
