{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <!doctype html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title></title>
</head>
{% endblock %}


{% block body %}
<body>

<div class="container">
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ asset('build/expert.png') }}" alt="post img">
            </a>
            <div class="media-body">
                <div class="media-heading"><h1>Nos articles</h1></div>
            </div>
            <p class="text-right">l'équipe de WellnessClub</p>
        </div>
    {% for item in articles %}
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
                <article>
                <div class="media-heading"><h1><a href="{{ path('wellness_post',  {id: item.id}) }}">{{ item.title }}</a></h1></div>
                <p class="text-right">By Louma</p>
                    <h3> {{ item.content[:60] ~ '...' }}</h3>
                </article>
               <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
     </div>
</div>
{% endblock %}