{% include 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
        <head>
            <link rel="stylesheet"
                  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
                  id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
        </head>
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="well">
            <div class="media" style="padding-top: 3%">
                <img src='/uploads/pictures/{{ article.picFilename }}' class="post"  alt="Cinque Terre" width="20%"
                     height="150px">
                <div class="media-body">
                    <h2 class="media-heading text-info">{{ article.titre }}</p></h2>
                    <div class="text-body">
                        <div class="d-flex align-text-bottom"><h4>{{ article.contenu }}</h4></div>
                        <p class="text-right">Par {{ article.auteur }}</p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 jours, 8 heurs </span></li>
                            <li>|</li>
                            <span><i class="glyphicon glyphicon-comment"></i> 2 commentaires</span>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </li>
                            <li>|</li>
                            <li>
                                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if replying %}
                {% include 'comment/commentRepondre.html.twig' %}
            {% else %}
                {% include 'comment/commentBlock.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
